@keyframes rgb-animation-txt-h{
    0%      {color: #02a8c5}
    33.5%   {color: red}
    66.5%   {color: green}
    100%    {color: #02a8c5}
}
@keyframes rgb-shadows-txt-h {
    0%      {text-shadow: 0px 0px 10px #02a8c5}
    33.5%   {text-shadow: 0px 0px 10px red}
    66.5%   {text-shadow: 0px 0px 10px green}
    100%    {text-shadow: 0px 0px 10px #02a8c5}
}
@keyframes rgb-animation-shadows-txt-h {
    0%      {text-shadow: 0px 0px 10px #02a8c5; color: #02a8c5;}
    33.5%   {text-shadow: 0px 0px 10px red; color:red; }
    66.5%   {text-shadow: 0px 0px 10px green; color:green;}
    100%    {text-shadow: 0px 0px 10px #02a8c5; color:#02a8c5;}
}

@keyframes rgb-animation-a_hover{
    0%      {color: #02a8c5}
    33.5%   {color: red}
    66.5%   {color: green}
    100%    {color: #02a8c5}
}
/* END RGB ANIMATION TEXT */